#header .logo {
    width: 200px;
    height: auto;
}

main h1 {
    font-size: 26px;
}

.overlay .img-circle {
    width: 450px;
    height: 600px;
}

.overlay .img-circle img {
    width: 85%;
    height: 65%;
}

#overlay-img {
    width: 450px;
    height: 600px;
}

#overlay-img #img-text {
    top: 25px;
    left: 80px;
}

#overlay-img #img-counter {
    bottom: 18px;
    font-size: 16px;
}

#overlay-img #next {
    bottom: 18px;
    right: 70px;
}

#next-btn {
    width: 30px;
    height: 30px;
}

#prev-btn {
    width: 30px;
    height: 30px;
}

#overlay-img #prev {
    bottom: 18px;
    left: 70px;
}

#close {
    width: 35px;
    height: 35px;
}