main h1 {
    font-size: 38px;
}

.overlay .img-circle img {
    width: 70%;
    height: 70%;
}

.overlay .img-circle {
    width: 580px;
    height: 620px;
}

#overlay-img {
    width: 580px;
    height: 620px;
}