#header {
    padding: 10px 40px;
    height: 100px;
}

#header .logo {
    width: 150px;
    height: auto;
}

main {
    padding: 60px 40px 220px;
    gap: 40px;
}

main h1 {
    font-size: 22px;
}

footer {
    padding: 20px 40px;
    height: 120px;
}

footer .profile {
    gap: 10px;
}

footer .profile .profile-img {
    width: 42px;
    height: 42px;
}

.overlay {
    width: calc(100% - 80px);
}

#caption {
    text-align: center;
    font-size: 12px;
}

#copyright {
    font-size: 12px;
    text-align: center;
}

.overlay .img-circle {
    width: 280px;
    height: 460px;
}

#overlay-img {
    width: 280px;
    height: 460px;
}

.overlay .img-circle img {
    width: 85%;
    height: 60%;
}

#overlay-img #img-text {
    top: 30px;
    left: 50px;
    font-size: 14px;
    font-weight: 500;
}

#overlay-img #img-counter {
    bottom: 20px;
    font-size: 14px;
    font-weight: 500;
}

#overlay-img #next {
    bottom: 18px;
    right: 50px;
}

#next-btn {
    width: 25px;
    height: 25px;
}

#prev-btn {
    width: 25px;
    height: 25px;
}

#overlay-img #prev {
    bottom: 18px;
    left: 50px;
}

#overlay-img #close-btn {
    top: 22px;
    right: 20px;
}

#close {
    width: 30px;
    height: 30px;
}